{% extends "registration/base.html" %}

{% block content %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">Forgot Password</p>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in  form %}
                    <div class="form-group">
            {{field.errors}}
            {{field.label_tag}}
            <input type="text" name="{{ field.html_name }}" class='form-control' id="{{ field.id_for_label }}">
            </div>
        {% endfor %}
        <button type="submit" class='btn btn-primary'>Submit</button>
        </form>

        <p class="mb-1">
            <a href="{% url 'login_page' %}">Login Instead</a>
        </p>

    </div>
{% endblock content %}