{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    {% include "main_app/form_template.html" with messages=messages  form=form button_text="Submit Feedback"%}
                </div>
                <!-- /.card -->
<div class="card card-primary">
    <div class="card-header"><h3 class="card-title">{{page_title}}</h3>
    </div>
   <div class="table p-2">

       <table class="table table-bordered">
           <tr>
               <th>ID</th>
               <th>Feedback</th>
               <th>Reply</th>
            <th>Created At</th>
        </tr>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{feedback.feedback}}</td>
            <td>
                  
                {% if feedback.reply == "" %}
                    <p class="badge badge-warning">No Response Yet</p>
                    {% else %}
                    {{feedback.reply}}
                {% endif %}
                    
            </td>              <td>{{feedback.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}