{% extends 'hod_template/base.html' %}
{% load static %}
{% block page_title %}Add Course{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Course</h3>
                    </div>

                    {% if messages %}
                    {% for message in messages  %}

                    <div class="alert-{{message.tags}} alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <label>Course Name</label>
                                <input type="text" name="name" class="form-control" placeholder="First Name">
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Add Course</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}