{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Activity Name</th>
                                    <th>Organiser Name</th>
                                    <th>Date and Time</th>
                                    <th>Venue</th>
                                    <th>Slots</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in activities %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{activity.name}}</td>
                                    <td>{{activity.organiser}}</td>
                                    <td>{{activity.date_time}}</td>
                                    <td>{{activity.venue}}</td>
                                    <td>{{activity.slots}}</td>
                                    <td>
                                        <a href="{% url 'edit_activity' activity.id %}" class="btn btn-primary">Edit</a> -
                                        <a href="{% url 'delete_activity' activity.id %}" onclick="return confirm('Are you sure you want to delete this ?')" class="btn btn-danger">Delete</a> 

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}